.main-header {
  display: flex;
  justify-content: space-between;
  background: gray;
}

.main-header__logo {
  border: 2px solid teal;
}

.main-header__menu {
  border: 2px solid rgb(255, 0, 0);
  font-weight: 900;
  display: flex;
  align-items: center;
}

.main-header nav {
  display: flex;
}

.main-header nav a {
  display: flex;
  margin: 0 0.5rem;
}

.main-header nav a {
  display: block;
}

.main-header__menu button {
  display: block;
}

.display-none__icon-menu {
  display: none;
}
@media (max-width: 768px) {
  .main-header nav a {
    display: none;
  }

  .display-none__icon-menu {
    display: block;
  }

  .main-header__menu button {
    display: none;
  }
}
